<div _ngcontent-fuw-c89="" class="header6">
   <div _ngcontent-fuw-c89="" class="container po-relative">
      <nav _ngcontent-fuw-c89="" class="navbar navbar-expand-lg h6-nav-bar">
         <a _ngcontent-fuw-c89="" routerlink="" class="navbar-brand" href="/demos/angular-admin-templates/angular-blog-pro/main/">
         <img _ngcontent-fuw-c89="" src="assets/images/logos/white-text.png" alt="wrapkit">
         </a>
         <a _ngcontent-fuw-c89="" href="javascript:void(0)" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" class="topbartoggler d-block d-lg-none waves-effect waves-light text-white" aria-expanded="false">
         <i _ngcontent-fuw-c89="" class="ti-more"></i>
         </a>
         <div _ngcontent-fuw-c89="" id="h6-info" class="navbar-collapse hover-dropdown font-14 ml-auto collapse show" style="">
            <app-banner-navigation _ngcontent-fuw-c89="" class="ml-0 ml-lg-auto d-flex no-block align-items-center w-100" _nghost-fuw-c88="">
               <ul _ngcontent-fuw-c88="" class="navbar-nav ml-0 ml-lg-auto">
                  <li _ngcontent-fuw-c88="" class="nav-item active"><a _ngcontent-fuw-c88="" routerlink="/" class="nav-link" href="/demos/angular-admin-templates/angular-blog-pro/main/"> Home </a></li>
                  <li _ngcontent-fuw-c88="" class="nav-item"><a _ngcontent-fuw-c88="" routerlink="/about" class="nav-link" href="/demos/angular-admin-templates/angular-blog-pro/main/about"> About </a></li>
                  <li _ngcontent-fuw-c88="" class="nav-item"><a _ngcontent-fuw-c88="" routerlink="/contact" class="nav-link" href="/demos/angular-admin-templates/angular-blog-pro/main/contact"> Contact </a></li>
                  <li _ngcontent-fuw-c88="" ngbdropdown="" class="nav-item mega-dropdown dropdown">
                     <a _ngcontent-fuw-c88="" ngbdropdowntoggle="" href="javascript:void(0)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle nav-link waves-effect waves-dark pro-pic"><span _ngcontent-fuw-c88="">Elements</span><i _ngcontent-fuw-c88="" class="ti-angle-down text-white font-12 op-5 ml-2"></i></a>
                     <div _ngcontent-fuw-c88="" ngbdropdownmenu="" class="user-dd border-0 dropdown-menu">
                        <div _ngcontent-fuw-c88="" class="row">
                           <div _ngcontent-fuw-c88="" class="col-lg-5 inside-bg hidden-md-down">
                              <div _ngcontent-fuw-c88="" class="bg-img" style="background-image: url(assets/images/innerpage/mega-bg2.jpg);">
                                 <h3 _ngcontent-fuw-c88="" class="text-white font-light"> Create anything with our amazing Elements </h3>
                              </div>
                           </div>
                           <div _ngcontent-fuw-c88="" class="col-lg-7">
                              <h6 _ngcontent-fuw-c88="">Components</h6>
                              <ul _ngcontent-fuw-c88="" class="list-style-none">
                                 <li _ngcontent-fuw-c88=""><a _ngcontent-fuw-c88="" href="/demos/angular-admin-templates/angular-blog-pro/main/accordion"> Accordion </a></li>
                                 <li _ngcontent-fuw-c88=""><a _ngcontent-fuw-c88="" href="/demos/angular-admin-templates/angular-blog-pro/main/alert"> Alert </a></li>
                                 <li _ngcontent-fuw-c88=""><a _ngcontent-fuw-c88="" href="/demos/angular-admin-templates/angular-blog-pro/main/carousel"> Carousel </a></li>
                                 <li _ngcontent-fuw-c88=""><a _ngcontent-fuw-c88="" href="/demos/angular-admin-templates/angular-blog-pro/main/dropdown"> Dropdowns </a></li>
                                 <li _ngcontent-fuw-c88=""><a _ngcontent-fuw-c88="" href="/demos/angular-admin-templates/angular-blog-pro/main/modal"> Modal </a></li>
                                 <li _ngcontent-fuw-c88=""><a _ngcontent-fuw-c88="" href="/demos/angular-admin-templates/angular-blog-pro/main/pagination"> Pagination </a></li>
                                 <li _ngcontent-fuw-c88=""><a _ngcontent-fuw-c88="" href="/demos/angular-admin-templates/angular-blog-pro/main/popovertooltip"> Popover &amp; Tooltip </a></li>
                                 <li _ngcontent-fuw-c88=""><a _ngcontent-fuw-c88="" href="/demos/angular-admin-templates/angular-blog-pro/main/progress"> Progressbar </a></li>
                                 <li _ngcontent-fuw-c88=""><a _ngcontent-fuw-c88="" href="/demos/angular-admin-templates/angular-blog-pro/main/rating"> Rating </a></li>
                                 <li _ngcontent-fuw-c88=""><a _ngcontent-fuw-c88="" href="/demos/angular-admin-templates/angular-blog-pro/main/tab"> Tab </a></li>
                                 <li _ngcontent-fuw-c88=""><a _ngcontent-fuw-c88="" href="/demos/angular-admin-templates/angular-blog-pro/main/timepicker"> Timepicker </a></li>
                                 <li _ngcontent-fuw-c88=""><a _ngcontent-fuw-c88="" href="/demos/angular-admin-templates/angular-blog-pro/main/button"> Button </a></li>
                                 <!---->
                              </ul>
                           </div>
                        </div>
                     </div>
                  </li>
               </ul>
               <div _ngcontent-fuw-c88="" class="act-buttons d-none d-md-flex ml-md-auto ml-lg-0">
                  <ul _ngcontent-fuw-c88="" class="navbar-nav align-items-center">
                     <li _ngcontent-fuw-c88="" class="nav-item">
                        <a _ngcontent-fuw-c88="" class="btn btn-danger-gradiant font-14"> 
                        Login </a><!----><!---->
                     </li>
                     <!---->
                  </ul>
               </div>
            </app-banner-navigation>
         </div>
      </nav>
   </div>
</div>