<div class="modal-header">
    <h4 class="modal-title">Cập Nhật Nhóm lỗi</h4>
    <button type="button" class="close" (click)="onClose()" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
</div>
<div mat-dialog-content>
    <form #heroForm="ngForm" class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-5">Mã Mảng nghiệp vụ</label>
            <select class="form-control col-7" name="business_segment" required
                [(ngModel)]="formGroupError.professional_group.parent"
                (ngModelChange)="onSelectBusinessSegment($event, formGroupError.professional_group.parent)">
                <option [ngValue]="formGroupError.professional_group.parent">{{formGroupError.professional_group.parent.code}}</option>
                <option *ngFor="let item of BusinessSegment" [ngValue]="item">{{item.code}} - {{item.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label col-5">Mã Nhóm nghiệp vụ</label>
            <select class="form-control col-7" name="professional_group" required
                [(ngModel)]="formGroupError.professional_group">
                <option [ngValue]="formGroupError.professional_group">{{formGroupError.professional_group.code}}
                </option>
                <option *ngFor="let item of ProfessionalGroup" [ngValue]="item">{{item.code}} - {{item.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label col-5">Mã Nhóm lỗi</label>
            <input class="form-control col-7" name="code" required [(ngModel)]="formGroupError.code">
        </div>
        <div class="form-group">
            <label class="control-label col-5">Tên Nhóm lỗi</label>
            <input class="form-control col-7" required name="name" [(ngModel)]="formGroupError.name">
        </div>
        <div class="form-group">
            <label class="control-label col-5">Tình Trạng</label>
            <select class="form-control col-7" name="is_actived" required [(ngModel)]="formGroupError.is_actived">
                <option value="1">Active</option>
                <option value="0">DeActive</option>
            </select>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-success waves-effect waves-light m-r-10" [disabled]="!heroForm.valid"
        (click)="onSave()">Lưu</button>
    <button type="submit" class="btn btn-inverse waves-effect waves-light" (click)="onClose()">Thoát</button>
</div>